<div class="estudiante-dashboard">
  <h2>Gestión de Estudiantes</h2>

  <div class="grid-container">
    <button class="action-button" routerLink="add-estudiante">Agregar Estudiante</button>
    <button class="action-button" routerLink="update-estudiante">Actualizar Estudiante</button>
    <button class="action-button" routerLink="delete-estudiante">Eliminar Estudiante</button>
    <button class="action-button" routerLink="view-estudiante">Ver Estudiantes</button>
  </div>

  <!-- Aquí se cargarán los componentes hijos -->
  <router-outlet></router-outlet>
</div>
