/* Estilos generales */
.contenedor {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Estilos para la columna del formulario */
.formulario {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para la columna de resultado */
.resultado {
  width: 45%;
  border: 1px solid #007bff;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
