<div class="docente-dashboard">
  <h2>Gestión de Docentes</h2>

  <div class="grid-container">
    <button class="action-button" routerLink="add-docente">Agregar Docente</button>
    <button class="action-button" routerLink="update-docente">Actualizar Docente</button>
    <button class="action-button" routerLink="delete-docente">Eliminar Docente</button>
    <button class="action-button" routerLink="view-docente">Ver Docentes</button>
    <button class="action-button" routerLink="estudiantes-legajo-docente">Estudiantes por Legajo</button>

  </div>
  <router-outlet></router-outlet>
  <!-- Aquí se cargará un solo componente a la vez -->

</div>
