form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 20px;
  text-align: left;
}

label {
  margin-top: 10px;
  font-weight: lighter;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 25px;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button.btn-actualizar {
  background-color: #28a745; /* Verde para el botón "Actualizar" */
}

button.btn-actualizar:hover {
  background-color: #218838; /* Verde oscuro para el botón "Actualizar" al pasar el mouse */
}

button.btn-cancelar {
  background-color: #dc3545; /* Rojo para el botón "Cancelar" */
}

button.btn-cancelar:hover {
  background-color: #c82333; /* Rojo oscuro para el botón "Cancelar" al pasar el mouse */
}
