<div class="tema-dashboard">
  <h2>Gestión de Tema</h2>

  <div class="grid-container">
    <button class="action-button" routerLink="add-tema">Agregar Tema</button>
    <button class="action-button" routerLink="update-tema">Actualizar Tema</button>
    <button class="action-button" routerLink="delete-tema">Eliminar Tema</button>
    <button class="action-button" routerLink="view-tema">Ver Tema</button>
  </div>

  <!-- Aquí se cargarán los componentes hijos -->
  <router-outlet></router-outlet>
</div>
