<div>
  <h2>Actualizar Curso</h2>
  <form (ngSubmit)="onUpdateCurso()">
    <label for="id">ID del Curso:</label>
    <input type="number" id="id" [(ngModel)]="curso.id" name="id" required>

    <label for="tema">Tema:</label>
    <input type="text" id="tema" [(ngModel)]="curso.tema.nombre" name="tema" required>

    <label for="fechaInicio">Fecha de Inicio:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="curso.fechaInicio" name="fechaInicio" required>

    <label for="fechaFin">Fecha de Fin:</label>
    <input type="date" id="fechaFin" [(ngModel)]="curso.fechaFin" name="fechaFin" required>

    <label for="docente">Docente:</label>
    <input type="text" id="docente" [(ngModel)]="curso.docente.nombre" name="docente" required>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" [(ngModel)]="curso.precio" name="precio" required>

    <button type="submit">Actualizar</button>
  </form>
</div>
