<div class="container">
  <h2>Listado de Temas</h2>

  <table class="table">
    <thead>
    <tr>
      <th id="th-id">ID</th>
      <th id="th-nombre">Nombre</th>
      <th id="th-descripcion">Descripcion</th>
      <th >Opciones</th>

      <!-- Agrega más columnas si tu modelo de Estudiante tiene más campos -->
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tema of temas">
      <td id="td-id">{{ tema.id }}</td>
      <td id="td-nombre">{{ tema.nombre }}</td>
      <td id="td-descripcion">{{ tema.descripcion }}</td>

        <td>
          <button class="action-button update" [routerLink]="['/update-tema', tema.id]"> Update </button>
          <button class="action-button delete"  [routerLink]="['/delete-tema', tema.id]"> Delete </button>
        </td>

     </tr>
    </tbody>
  </table>
</div>
