<div class="curso-dashboard">
  <h2>Gestión de Cursos</h2>

  <div class="grid-container">
    <button class="action-button" routerLink="add-curso">Agregar Curso</button>
<!--    <button class="action-button" routerLink="update-curso">Actualizar Curso</button>-->
<!--    <button class="action-button" routerLink="delete-curso">Eliminar Curso</button>-->
    <button class="action-button" routerLink="view-curso">Ver Curso</button>
    <button class="action-button" routerLink="curso-by-date">Buscar Curso por Fecha de Fin</button>

  </div>

  <router-outlet></router-outlet>
  <!-- Aquí se cargará un solo componente a la vez -->

</div>
