form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 20px;
  text-align: left;
}

label {
  margin-top: 10px;
  font-weight: lighter;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 25px;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #da3939; /* Rojo para el botón "Eliminar" */
}

button[type="submit"]:hover {
  background-color: #770101; /* Rojo oscuro para el botón "Eliminar" al pasar el mouse */
}

button[type="button"] {
  background-color: #6c757d; /* Gris para el botón "Cancelar" */
}

button[type="button"]:hover {
  background-color: #5a6268; /* Gris oscuro para el botón "Cancelar" al pasar el mouse */
}
