<div class="dashboard-container">
  <div class="header">
    TP FINAL DESARROLLO DE SOFTWARE
  </div>

  <div class="sidebar">
    <button routerLink="/curso">Cursos</button>
    <button routerLink="/estudiante">Estudiantes</button>
    <button routerLink="/docente">Docentes</button>
    <button routerLink="/tema">Temas</button>
    <button routerLink="/inicio">Inicio</button>

    <div class="image-placeholder"> IMG </div>

    <div class="footer"> Ferrari Santiago</div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
